
img {
	width=100%;
}

.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#header {
	background-color:#CBE86B;
	color:black;
	text-align:center;
	padding:5px;
}

#nav {
	line-height:30px;
	background-color:#1C140D;
	height:300px;
	width:100px;
	float:left;
	padding:5px;
}

#section {
	background-color:#F2E9E1;
	width:450px;
	float:left;
	padding:10px;
}

#aside {
	background-color:#F2E9E1;
	float:right;
	padding:5px;
}

#footer {
	background-color:#CBE86B;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}
